{% load staticfiles %}
<html>
  <head>
     <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
   <script src="{% static "hackathon_app/bootstrap/dist/js/bootstrap.min.js" %}"></script>
   <script src="{% static "hackathon_app/js/magicsuggest-master/magicsuggest-min.js" %}"></script>
    <link href="{% static "hackathon_app/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "hackathon_app/css/hackathon_app.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "hackathon_app/js/magicsuggest-master/magicsuggest-min.css" %}" rel="stylesheet">
  </head>
   <body>
   <div class = "jumbotron">
   Clotho
   </div>
   <div class = "container">
   {% block form %}
   {% endblock %}
   {% block svg %}
   {% endblock %}
   </div>

   </body>
</html>


