{% extends "base.html" %}
{% load staticfiles %}
{% block svg %}
<script src="{% static "hackathon_app/js/external/d3.js" %}"></script>
<script src="{% static "hackathon_app/js/graph_maker.js" %}"></script>
<script type='text/javascript'>
var dataset = {
        neurons: [
                {name: 'L1'},
                {name: 'L2'},
                {name: 'L3'}
        ],
        edges: [
                {source: 0, target: 1, weight: 10},
                {source: 0, target: 2, weight: 20},
                {source: 1, target: 2, weight: 8},
                {source: 2, target: 1, weight: 1}
        ]
};
</script>
<div class='row'>
<div id='svgContainer' class='col-md-4'>
</div>
<div id='nodeForm' class='col-md-4'>
	<form>
		<div class='form-group'>
			<label for='nodeSize'>Node Size</label><br>
			<input id='nodeSize' type='range' min=1 max=50 step=1 /><span id='nodeSizeValue'></span>
		</div>
		<div class='form-group'>
			<label for='nodeColor'>Node Color</label><br>
			<input type='color' id='nodeColor' />
		</div>
		<div class='form-group'>
			<label for='nodeFontSize'>Font Size</label><br>
			<input id='nodeFontSize' type='range' min=6 max=45 step=1 /><span id='nodeFontSizeValue'></span>
		</div>
	</form>
</div>
</div>

{% endblock %} 
