{% extends "base.html" %}
{% load staticfiles %}
{% block form %}
<script src="{% static "hackathon_app/js/external/d3.js" %}"></script>
{% if renderSvg %}
<script src="{% static "hackathon_app/js/graph_maker.js" %}"></script>
{% endif %}
<script src="{% static "hackathon_app/js/hackathon_app.js" %}"></script>
<div class='row'>
<script type="text/javascript">
var neuron_names = [{% for neuron in neurons %}"{{neuron}}",{% endfor %}];
</script>
<div class='col-md-3'>
</br>
<form  method='POST' action='/clotho/'>
{% csrf_token %}
<label for='label_search'>Cell Types</label>
<input id="label_search">
</br>
<label>Combination Type</label>
<div class="radio">
<label for="max">Max</label>
<input type="radio" name="combotype" id="max" value='max'>
</div>
<div class="radio">
<label for="sum">Sum</label>
<input type="radio" name="combotype" id="sum" value='sum'>
</div>
<div class="radio">
<label for="mean">Mean</label>
<input type="radio" name="combotype" id="mean" checked='checked' value='mean'>
</div>
<div class="radio">
<label for="median">Median</label>
<input type="radio" name="combotype" id="median" value='median'>
</div>
</br>
<button id='label_submit' class="btn btn-primary" style="vertical-align:top">Search</button>
</form>
</div>

{% endblock %} 
{% block svg %}
{% if renderSvg %}
<script type='text/javascript'>
var dataset = {
        neurons: [
        	{% for n in nodes %}
                {name: '{{n}}'},
            {% endfor %}
        ],
        edges: [
        	{% for k,e in edges.items %}
        	{source: {{e.source}}, target: {{e.destination}}, weight: {{e.strength}}},
        	{% endfor %}
        ]
};
</script>
<div id='svgContainer' class='col-md-7'>
</div>
<div id='nodeForm' class='col-md-2'>
	<form>
		<div class='form-group'>
			<label for='nodeSize'>Node Size</label><br>
			<input id='nodeSize' type='range' min=1 max=50 step=1 /><span id='nodeSizeValue'></span>
		</div>
		<div class='form-group'>
			<label for='nodeColor'>Node Color</label><br>
			<input type='color' id='nodeColor' />
		</div>
		<div class='form-group'>
			<label for='nodeFontSize'>Font Size</label><br>
			<input id='nodeFontSize' type='range' min=6 max=45 step=1 /><span id='nodeFontSizeValue'></span>
		</div>
	</form>
</div>
</div>
{% endif %}
{% endblock %} 
