{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
var neuron_names = [{% for neuron in NeuronNames %}"{{neuron}}",{% endfor %}];
</script>
</br>
<div class='form-inline'>
<div id="label_search"></div>
</br></br>
<label for="max">Max:</label>
<input type="checkbox" name="my-checkbox" id="max">
<label for="sum">Sum:</label>
<input type="checkbox" name="my-checkbox" id="sum">
<label for="mean">Mean/Median:</label>
<input type="checkbox" name="my-checkbox" id="mean">
</br></br>
<button id='label_submit' class="btn" style="vertical-align:top">Search</button>
</div>
{% endblock %} 
